<a href="https://colab.research.google.com/github/DanPace725/googlecolabs/blob/main/BOM_and_SO_Compare.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The first goal is to import the sales order excel and add a column for xparts that match the Part ID

In [10]:
import pandas as pd
import io
from google.colab import files

In [34]:

# Root file path (fp) and file name (fn)
fp = '/content/drive/MyDrive/Palm Harbor/Hard Card Reconciliation/'
fn = "15275_clean.xlsx" #@param {type:"string"}

In [33]:
def read_file(folder,fn,fp = '/content/drive/MyDrive/Palm Harbor/Hard Card Reconciliation/'):
 # Read file using parameters fp (file path), folder, and fn (file_name) 
    try:  
      pd.read_excel(fp + folder + fn)
    except:
      raise Exception("File didn't read properly")
    else: 
      print("File read successfully")
    return

In [37]:
read_file(fp,'Clean/',fn)

File read successfully

In [15]:
df.head()

,Unnamed: 0,Qty,Option Name,Feat ID#,Option Total
0,NaN,1,Base Cab - Drawer Bank in M/Bath,8473,125.00
1,NaN,124,Carpet - Omit Take Away (per Sq Yd),66314,-269.08
2,NaN,124,Carpet Pad - Omit (per Sq Yd),18894,-84.32
3,NaN,2,Chassis - Recessed (per Floor),17480,540.00
4,NaN,1,Conduit - Heat Pump Ready,16655,60.00

In [20]:
# Working Data Frame = wdf
wdf = df[['Qty','Option Name','Feat ID#','Option Total']]
wdf.head()

   Qty                           Option Name  Feat ID#  Option Total
0    1     Base Cab - Drawer Bank in M/Bath       8473        125.00
1  124  Carpet - Omit Take Away (per Sq Yd)      66314       -269.08
2  124        Carpet Pad - Omit (per Sq Yd)      18894        -84.32
3    2       Chassis - Recessed (per Floor)      17480        540.00
4    1            Conduit - Heat Pump Ready      16655         60.00